%body
  %h1
    IP Camera Dashboard
  %p
    %a{:href => "/"} Grid View
    %a{:href => "/tiled"} Tiled View
    %a{:href => "/venues"} Manage
  -if venues.any?
    %div.grid_venues
      - venues.each do |venue|
        %div.grid_venue
          -unless venue[3].nil?
            %img{:src => "feeds/#{venue[0]}/#{venue[0]}.jpeg"}
            -if not_regularly_updating(venue[3])
              %span.flag
                = "#{venue[0]} (#{time_to_string(venue[3])})"
            -else
              %span.updating
                = venue[0]
  -else
    = "Sorry IP camera information not setup yet."